<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>ClipUrl</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>

  <link rel="icon" href="/images/url_icon.png" type="image/png" />
  <link rel="stylesheet" href="/style.css">
  <%- include('./partials/head') %>


</head>
<body>
    <%- include('./partials/nav') %>
<div class="body">
  <div class="login-card">
    <div class="close-btn">&times;</div>
    <h2>Login</h2>
    <form action="/user/login" method="POST">
      <div class="input-group">
        <i class="fas fa-envelope"></i>
        <input type="email" name="email" placeholder="Enter your email" required />
      </div>
      <div class="input-group">
        <i class="fas fa-lock"></i>
        <input type="password" name="password" placeholder="Enter your password" required />
      </div>

      <div class="options">
        <label><input type="checkbox" name="remember" /> Remember me</label>
        <a href="#">Forgot password?</a>
      </div>

      <button class="login-btn" type="submit">Login Now</button>
    </form>
    <div class="signup-link">
      Not a member? <a href="/signup">Signup Now</a>
    </div>
  </div>

  <script>
    document.querySelector('.close-btn').onclick = () => {
      window.history.back();
    };
  </script>
</div>
   <%- include('./partials/scripts') %>
</body>
</html>
