<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>ClipUrl</title>
  <link rel="icon" href="/images/url_icon.png" type="image/png" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>

  <link rel="stylesheet" href="style.css">
  <%- include('./partials/head') %>


</head>
<body>
    <%- include('./partials/nav') %>
<div class="body">
  <div class="signup-card">
    <div class="close-btn" onclick="window.history.back()">&times;</div>
    <h2>Sign Up</h2>
    <form action="/user" method="POST">
      <div class="input-group">
        <i class="fas fa-user"></i>
        <input type="text" name="name" placeholder="Full Name" required />
      </div>
      <div class="input-group">
        <i class="fas fa-envelope"></i>
        <input type="email" name="email" placeholder="Enter your email" required />
      </div>
      <div class="input-group">
        <i class="fas fa-lock"></i>
        <input type="password" name="password" placeholder="Create password" required />
      </div>

      <button class="signup-btn" type="submit">Sign Up</button>
    </form>
    <div class="login-link">
      Already have an account? <a href="/login">Login Now</a>
    </div>
  </div>
  </div>
   <%- include('./partials/scripts') %>
</body>
</html>
